# Dictionary
* Dictionary are used to store data values in key:values pairs.
* A dictionay is a collection which is ordered, changeable and donot allow duplicate keys
# syntax
```python
{
    key: value
}
```

In [1]:
# creating empty dictionary
d1 = {}

In [2]:
type(d1)

dict

In [3]:
d2 = dict()

In [5]:
type(d2)

dict

# create your own dictionary

In [6]:
about = {
    'name' : 'Kshitiz',
    'teaches' : ['python', 'Data Science'],
    'time' : 900   
    
}

In [7]:
about

{'name': 'Kshitiz', 'teaches': ['python', 'Data Science'], 'time': 900}

In [8]:
about.values()

dict_values(['Kshitiz', ['python', 'Data Science'], 900])

In [9]:
about.keys()

dict_keys(['name', 'teaches', 'time'])

In [10]:
about.items()

dict_items([('name', 'Kshitiz'), ('teaches', ['python', 'Data Science']), ('time', 900)])

# tuple unpacking

In [11]:
a, b = (9,5)

In [12]:
a

9

In [13]:
b

5

In [14]:
for item in about.items():
    print(item)

('name', 'Kshitiz')
('teaches', ['python', 'Data Science'])
('time', 900)

In [15]:
for key,value in about.items(): # unpacking
    print(f'The key is {key} and the value is {value}')

The key is name and the value is Kshitiz
The key is teaches and the value is ['python', 'Data Science']
The key is time and the value is 900

In [16]:
d3 = {
    1 : 'Ram',
    2 : 'shyam',
    3 : 'Sita',
    4 : 'Hari',
    5 : 'Laxman',
    6 : 'Ravan'
}

In [19]:
for key,value in d3.items():
    print(f'The role number is {key} and the name is {value}')

The role number is 1 and the name is Ram
The role number is 2 and the name is shyam
The role number is 3 and the name is Sita
The role number is 4 and the name is Hari
The role number is 5 and the name is Laxman
The role number is 6 and the name is Ravan

# Ascessing value using keys

In [20]:
about = {
    'name' : 'Kshitiz',
    'teaches' : ['python', 'Data Science'],
    'time' : 900   
    
}

In [21]:
about['name']

'Kshitiz'

In [22]:
about.get('name')

'Kshitiz'

In [23]:
d3 = {
    1 : 'Ram',
    2 : 'shyam',
    3 : 'Sita',
    4 : 'Hari',
    5 : 'Laxman',
    6 : 'Ravan'
}

In [24]:
d3[1]

'Ram'

In [25]:
d3.get(1)

'Ram'

In [30]:
d3[8] = 'Test'

In [31]:
d3

{1: 'Ram',
 2: 'shyam',
 3: 'Sita',
 4: 'Hari',
 5: 'Laxman',
 6: 'Ravan',
 8: 'Test'}

In [34]:
new_test = {
    1.2 : 'Ram'
}

In [35]:
new_test

{1.2: 'Ram'}

# Adding key value pairs in dictionary

In [42]:
about = {
    'name' : 'Kshitiz',
    'teaches' : ['python', 'Data Science'],
    'time' : 900   
    
}
id(about)

2875779484992

In [43]:
about['experience'] = 4

In [44]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 4}

In [45]:
id(about)

2875779484992

In [48]:
# replace the value of experience
about['experience'] = 5

In [47]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 5}

In [51]:
about.update({'age' : 26}) # creating new key and value

In [50]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 5,
 'age': 26}

In [52]:
about.update({'age' : 24})

In [53]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 5,
 'age': 24}

In [54]:

about['teaches'].append('AI')

In [55]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science', 'AI'],
 'time': 900,
 'experience': 5,
 'age': 24}

In [56]:
# remove key and value 
about.pop('time')

900

In [57]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science', 'AI'],
 'experience': 5,
 'age': 24}

In [61]:
about['teaches'][0]

'Data Science'

In [63]:
about['name'] = 'Kshitiz Regmi'

In [64]:
about

{'name': 'Kshitiz Regmi',
 'teaches': ['Data Science', 'AI'],
 'experience': 5,
 'age': 24}

In [66]:
about.update({'name': 'Kshitiz Regmi'})

In [67]:
about

{'name': 'Kshitiz Regmi',
 'teaches': ['Data Science', 'AI'],
 'experience': 5,
 'age': 24}

In [70]:
about

{'name': 'Kshitiz Regmi',
 'teaches': ['Data Science', 'AI'],
 'experience': 5,
 'age': 24}