# List comprehension
# syntax
``` python
[expression for item in iterales]
```

In [3]:
# Non determinanistic random number generation
import random
random.randint(0, 5) # random number between 0 and 5 both included.

1

In [6]:
# seed can be any number, same number gives the same value in all computer
random.seed(2023) # deterministic pseudo random number generation
random.randint(0,5)

3

In [9]:
numbers = []
random.seed(3)
for i in range(10):
    numbers.append(random.randint(0, 10))

In [10]:
print (numbers)

[3, 9, 8, 2, 5, 9, 7, 10, 9, 1]

In [12]:

sq = []
for item in numbers:
    sq.append(item ** 2)

In [13]:
print (sq)

[9, 81, 64, 4, 25, 81, 49, 100, 81, 1]

In [14]:
# list comprehension
[item ** 2 for item in numbers] # pythonic way, faster then loop

[9, 81, 64, 4, 25, 81, 49, 100, 81, 1]

In [15]:
[item ** 3 for item in numbers]

[27, 729, 512, 8, 125, 729, 343, 1000, 729, 1]

In [16]:
fruits = ['APPLE', 'BANANA', 'MANGO', 'ORANGE']
lower_fruits = [fruit.lower() for fruit in fruits]
print(lower_fruits)

['apple', 'banana', 'mango', 'orange']

# list comprehension with if
# syntax
``` python
[expression for item in iterable if True]
```

In [20]:
data = range(2, 15)

In [21]:
[item for item in data if item % 2 == 0] # get the even number from data

[2, 4, 6, 8, 10, 12, 14]

In [22]:
[item for item in data if item %2 != 0] # get the odd number from data

[3, 5, 7, 9, 11, 13]

# list comprehension with if else
# syntax
```python
[expression if True else Expression for item in iterables]
```

In [24]:
data = range(-5, 5)
# if item <=0 cha vane 0 rakne natra jastako testai rakne
[0 if item <=0 else item for item in data]

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4]

In [25]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = [x if x == 'banana' else 'orange' for x in fruits]
print(newlist)

['orange', 'banana', 'orange', 'orange', 'orange']