# List
* Collection of items under one variable name
* Support multiple data type
* ordered and indexed
* support duplicate data

In [5]:
l1 = []
print(type(l1))

<class 'list'>

In [6]:
l2 = list() # using list constructor -- constructor is used to create an object
print(type(l2))

<class 'list'>

In [7]:
sample = [True, 2.2, 'ktm', 'ktm', True]
print(sample)

[True, 2.2, 'ktm', 'ktm', True]

# Creating your own list

In [17]:
thakali_set = ['Bhat', 'Masu', 'Gundruk', 'Ghue', 'Papad', 'Sag', 'Dal', 'Gobi' ,'Salad']
print (thakali_set)

['Bhat', 'Masu', 'Gundruk', 'Ghue', 'Papad', 'Sag', 'Dal', 'Gobi', 'Salad']

# Indexing and slicing

In [11]:
thakali_set[0]

'Bhat'

In [12]:
thakali_set[1]

'Dal'

In [13]:
thakali_set[2]

'Tarkali'

In [14]:
thakali_set[3]

'Achar'

In [15]:
thakali_set[4]

'Salad'

In [16]:
thakali_set[5]

IndexError: list index out of range

In [18]:
# Slice and find gundruk, gheu, papad
thakali_set[2:5]

['Gundruk', 'Ghue', 'Papad']

In [19]:
# Slice and find bhat and masu
thakali_set[0:2]

['Bhat', 'Masu']

In [20]:
#slice and find sag and dal
thakali_set[5:7]

['Sag', 'Dal']

In [23]:
#slice and find 'bhat', 'gundruk', 'papad'
thakali_set[0:len(thakali_set):2]

['Bhat', 'Gundruk', 'Papad', 'Dal', 'Salad']

In [24]:
thakali_set[::2]

['Bhat', 'Gundruk', 'Papad', 'Dal', 'Salad']

# Negative indexing

In [25]:
thakali_set = ['Bhat', 'Masu', 'Gundruk', 'Ghue', 'Papad', 'Sag', 'Dal', 'Gobi' ,'Salad']

In [26]:
thakali_set[-1]

'Salad'

In [27]:
thakali_set[-2]

'Gobi'

In [28]:
thakali_set[-3]

'Dal'

In [29]:
thakali_set[-4]

'Sag'

In [33]:
thakali_set[-2:]

['Gobi', 'Salad']

In [34]:
thakali_set[-5:-2]

['Papad', 'Sag', 'Dal']

In [35]:
thakali_set[::-1]

['Salad', 'Gobi', 'Dal', 'Sag', 'Papad', 'Ghue', 'Gundruk', 'Masu', 'Bhat']

In [40]:
thakali_set[-1:-5:-1]

['Salad', 'Gobi', 'Dal', 'Sag']

# Loop

In [42]:
thakali_set = ['Bhat', 'Masu', 'Gundruk', 'Ghue', 'Papad', 'Sag', 'Dal', 'Gobi' ,'Salad']
for i in range(len(thakali_set)):
    print(f'{i} = {thakali_set[i]}')

0 = Bhat
1 = Masu
2 = Gundruk
3 = Ghue
4 = Papad
5 = Sag
6 = Dal
7 = Gobi
8 = Salad

# find total of given list

In [43]:
num = [5,7,6,8]
total = 0
for i in range(len(num)):
    total += num[i]
print (total)

26

In [44]:
total/len(num)

6.5

In [45]:
num = [5,7,6,8]
total = 0
mean = 0
length = len(num)
for i in range(length):
    total += num[i]
mean = total / length
print(mean)

6.5

# Membership Operator
* in and not in are membership operator

In [46]:
thakali_set = ['Bhat', 'Masu', 'Gundruk', 'Ghue', 'Papad', 'Sag', 'Dal', 'Gobi' ,'Salad']
'Masu' in thakali_set

True

In [47]:
'Masu' not in thakali_set

False

In [48]:
'Chatni' in thakali_set

False

In [49]:
'chatni' not in thakali_set

True

In [50]:
msg = 'Hello'
'H' in msg

True

# List method
* list is a mutable data type(same memory location ma replace huncha)

In [54]:
cars = ['Mercedes', 'BMW', 'Tesla', 'Bugati', 'Audi', 'lambo']
id(cars)

2076685770624

In [55]:
cars[2] = 'Bently'
id(cars)

2076685770624

In [53]:
print(cars)

['Mercedes', 'BMW', 'Bently', 'Bugati', 'Audi', 'lambo']

In [56]:
fruits = ['apple', 'banana', 'mango', 'orange', 'kiwi', 'mango']
fruits[1:3] = ['blackcurrent', 'watermelon']
print(fruits)

['apple', 'blackcurrent', 'watermelon', 'orange', 'kiwi', 'mango']

# Insert

In [57]:
fruits = ['apple', 'banana', 'mango', 'orange', 'kiwi', 'mango']
fruits.insert(1, 'lichi')
print(fruits)

['apple', 'lichi', 'banana', 'mango', 'orange', 'kiwi', 'mango']

# Append

In [67]:
line = []
line.append('Ram')
print(line)

['Ram']

In [68]:
line.append('Laxman')
print(line)

['Ram', 'Laxman']

In [69]:
line.append('Sita')
print(line)

['Ram', 'Laxman', 'Sita']

In [70]:
line.append('Rawan')
print(line)

['Ram', 'Laxman', 'Sita', 'Rawan']

In [71]:
gift = []
for i in range(10):
    name = input('Enter your gift name: ')
    gift.append(name)

Enter your gift name: Mercedes
Enter your gift name: $10 stem wallet
Enter your gift name: nokia 3310
Enter your gift name: thar
Enter your gift name: wrangler
Enter your gift name: island
Enter your gift name: patek phllipe watch
Enter your gift name: harry potter whole set
Enter your gift name: JBL headset
Enter your gift name: Helicopter

In [72]:
print(gift)

['Mercedes', '$10 stem wallet', 'nokia 3310', 'thar', 'wrangler', 'island', 'patek phllipe watch', 'harry potter whole set', 'JBL headset', 'Helicopter']

# concatenation

In [74]:
[1, 2, 3] + [55, 44, 0] # list concat

[1, 2, 3, 55, 44, 0]

In [75]:
'Radhe' + 'Radhe' # string concat

'RadheRadhe'

# Sort

In [77]:
x = [1,4,2,5,3,5,6,3,8]
x.sort()
print (x)

[1, 2, 3, 3, 4, 5, 5, 6, 8]

In [79]:
x.sort(reverse = True)
print (x)

[8, 6, 5, 5, 4, 3, 3, 2, 1]

In [82]:
print(sorted(x)) # item will sorted but x will be same, its builtin function

[1, 2, 3, 3, 4, 5, 5, 6, 8]

# extend

In [1]:
x = [2, 4, 5]
y = [99, 0, 6, 1]

In [2]:
x.extend(y)
print(x)

[2, 4, 5, 99, 0, 6, 1]

In [3]:
print(y)

[99, 0, 6, 1]

# remove

In [5]:
l1 = [2, 4, 5, 6, 7, 2, 7, 1]
l1.remove(7)

In [6]:
print(l1)

[2, 4, 5, 6, 2, 7, 1]

# pop

In [7]:
l1 = [2, 4, 5, 6, 7, 2, 7, 1]

In [8]:
l1.pop() # last ko value falxa

1

In [9]:
print(l1)

[2, 4, 5, 6, 7, 2, 7]

In [10]:
l1.pop()

7

In [11]:
print (l1)

[2, 4, 5, 6, 7, 2]

In [12]:
# indexing in pop
l1.pop(2) # remove the value in index 2

5

In [13]:
print(l1)

[2, 4, 6, 7, 2]